name: Push to Replicate

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest-16-cores
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /opt/microsoft
          sudo rm -rf /opt/pipx
          sudo rm -rf /opt/google
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /usr/lib/jvm
          sudo apt-get remove -y '^aspnetcore-.*' '^dotnet-.*' 'php.*' azure-cli google-chrome-stable firefox powershell mono-devel --fix-missing || true
          sudo apt-get autoremove -y || true
          sudo apt-get clean
          sudo docker system prune -af
          echo "Available disk space:"
          df -h /

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Cog
        uses: replicate/setup-cog@v2
        with:
          token: ${{ secrets.REPLICATE_API_TOKEN }}

      - name: Build with Cog
        run: cog build --no-cache -t r8.im/ahmetsaid/pbr-texture-gen

      - name: Login to Replicate Registry
        run: echo ${{ secrets.REPLICATE_API_TOKEN }} | docker login r8.im -u ahmetsaid --password-stdin

      - name: Push to Replicate
        run: docker push r8.im/ahmetsaid/pbr-texture-gen
